* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --bg-color: #393E46;
    --text-color: #fff;
    --header-color: #9336B4;
    --shadow-color: #2C3333;
}